@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
	--card: oklch(100% 0 0);
	--background: oklch(93% 0 0);
	--popover: oklch(86% 0 0);
	--foreground: oklch(35.519% 0.032 262.988);
	--primary: oklch(76.662% 0.135 153.45);
	--primary-foreground: oklch(33.387% 0.04 162.24);
	--secondary: oklch(33.387% 0.04 162.24/0.5);
	--secondary-foreground: oklch(76.662% 0.135 153.45);
	--accent: oklch(0.923 0.003 48.717);
	--accent-foreground: oklch(0% 0 0);
	--muted: oklch(35.519% 0.032 262.988/0.1);
	--muted-foreground: oklch(35.519% 0.032 262.988/0.5);
	--chart-1: oklch(72.06% 0.191 231.6);
	--chart-3: oklch(64.8% 0.15 160);
	--chart-4: oklch(71.76% 0.221 22.18);
	--chart-2: oklch(84.71% 0.199 83.87);
	--chart-5: oklch(35.519% 0.032 262.988/0.3);
	--destructive: oklch(71.76% 0.221 22.18);
	--destructive-foreground: oklch(0% 0 0);
	--radius: 0.5rem;
	--card-foreground: oklch(35.519% 0.032 262.988);
	--popover-foreground: oklch(35.519% 0.032 262.988);
	--border: oklch(35.519% 0.032 262.988/0.1);
	--input: oklch(35.519% 0.032 262.988/0.3);
	--ring: oklch(76.662% 0.135 153.45/0.5);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--radius: var(--radius);
	--border: var(--border);
	--color-sidebar-ring: var(--ring);
	--color-sidebar-border: var(--border);
	--color-sidebar-accent-foreground: var(--accent-foreground);
	--color-sidebar-accent: var(--accent);
	--color-sidebar-primary-foreground: var(--primary-foreground);
	--color-sidebar-primary: var(--primary);
	--color-sidebar-foreground: var(--card-foreground);
	--color-sidebar: var(--card);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-border: var(--border);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-soft-green-50: #f1fbf4;
	--color-soft-green-100: #d8f5e2;
	--color-soft-green-200: #b0eac6;
	--color-soft-green-300: #88dea9;
	--color-soft-green-400: #60d38d;
	--color-soft-green-500: #38c871;
	--color-soft-green-600: #2c9f5a;
	--color-soft-green-700: #217643;
	--color-soft-green-800: #154c2b;
	--color-soft-green-900: #0a2314;
	--color-soft-green-950: #05110a;
	--color-soft-blue-50: #f2f9fd;
	--color-soft-blue-100: #d6eefb;
	--color-soft-blue-200: #aeddf7;
	--color-soft-blue-300: #86ccf3;
	--color-soft-blue-400: #5ebbee;
	--color-soft-blue-500: #36a9ea;
	--color-soft-blue-600: #2b87bb;
	--color-soft-blue-700: #20658c;
	--color-soft-blue-800: #15435d;
	--color-soft-blue-900: #0a222f;
	--color-soft-blue-950: #051117;
	--color-soft-red-50: #fef2f2;
	--color-soft-red-100: #fddcdc;
	--color-soft-red-200: #fbb4b4;
	--color-soft-red-300: #f98d8d;
	--color-soft-red-400: #f76666;
	--color-soft-red-500: #f54040;
	--color-soft-red-600: #c43535;
	--color-soft-red-700: #932929;
	--color-soft-red-800: #621c1c;
	--color-soft-red-900: #310e0e;
	--color-soft-red-950: #180707;
	--color-warm-gray-50: #faf7f3;
	--color-warm-gray-100: #f1e9d4;
	--color-warm-gray-200: #e4d4b1;
	--color-warm-gray-300: #d7bf8e;
	--color-warm-gray-400: #cba56b;
	--color-warm-gray-500: #b88d48;
	--color-warm-gray-600: #9d7535;
	--color-warm-gray-700: #826026;
	--color-warm-gray-800: #665018;
	--color-warm-gray-900: #4b3f0f;
	--color-warm-gray-950: #332a08;
	--color-soft-orange-50: #fef8f1;
	--color-soft-orange-100: #fce8c9;
	--color-soft-orange-200: #f9d19a;
	--color-soft-orange-300: #f7b86b;
	--color-soft-orange-400: #f59f3c;
	--color-soft-orange-500: #f3850d;
	--color-soft-orange-600: #d16c09;
	--color-soft-orange-700: #aa5507;
	--color-soft-orange-800: #8d3e05;
	--color-soft-orange-900: #6f2803;
	--color-soft-orange-950: #541e02;
	--color-soft-olive-50: #f8faf4;
	--color-soft-olive-100: #e9f0db;
	--color-soft-olive-200: #d4e2b9;
	--color-soft-olive-300: #bfd496;
	--color-soft-olive-400: #a9c673;
	--color-soft-olive-500: #94b850;
	--color-soft-olive-600: #76923f;
	--color-soft-olive-700: #596d2f;
	--color-soft-olive-800: #3b481f;
	--color-soft-olive-900: #1e230f;
	--color-soft-olive-950: #0f1208;
	--color-lavender-50: #faf8fb;
	--color-lavender-100: #f0e6f3;
	--color-lavender-200: #ddcce6;
	--color-lavender-300: #c9b2d9;
	--color-lavender-400: #b698cc;
	--color-lavender-500: #a27ebf;
	--color-lavender-600: #826699;
	--color-lavender-700: #624d73;
	--color-lavender-800: #41334d;
	--color-lavender-900: #211a26;
	--color-lavender-950: #100d13;
	--color-soft-sky-50: #f7fafd;
	--color-soft-sky-100: #e2eef8;
	--color-soft-sky-200: #c2dbef;
	--color-soft-sky-300: #a3c8e7;
	--color-soft-sky-400: #83b5de;
	--color-soft-sky-500: #64a2d6;
	--color-soft-sky-600: #5082ab;
	--color-soft-sky-700: #3c627f;
	--color-soft-sky-800: #284254;
	--color-soft-sky-900: #142128;
	--color-soft-sky-950: #0a1014;
	--color-soft-cocoa-50: #f9f7f6;
	--color-soft-cocoa-100: #eae2de;
	--color-soft-cocoa-200: #d4c5bd;
	--color-soft-cocoa-300: #bea99b;
	--color-soft-cocoa-400: #a88c7a;
	--color-soft-cocoa-500: #926f59;
	--color-soft-cocoa-600: #755946;
	--color-soft-cocoa-700: #584433;
	--color-soft-cocoa-800: #3a2e22;
	--color-soft-cocoa-900: #1d1711;
	--color-soft-cocoa-950: #0e0b08;
	--color-soft-berry-50: #fef8f9;
	--color-soft-berry-100: #fde6e9;
	--color-soft-berry-200: #fabfc6;
	--color-soft-berry-300: #f799a3;
	--color-soft-berry-400: #f47280;
	--color-soft-berry-500: #f14c5d;
	--color-soft-berry-600: #c13d4b;
	--color-soft-berry-700: #922e38;
	--color-soft-berry-800: #621f26;
	--color-soft-berry-900: #310f13;
	--color-soft-berry-950: #180809;
	--color-soft-lemon-50: #fefef8;
	--color-soft-lemon-100: #fbfadc;
	--color-soft-lemon-200: #f6f3b9;
	--color-soft-lemon-300: #f1ec96;
	--color-soft-lemon-400: #ece573;
	--color-soft-lemon-500: #e7de50;
	--color-soft-lemon-600: #bab241;
	--color-soft-lemon-700: #8c8631;
	--color-soft-lemon-800: #5e5a21;
	--color-soft-lemon-900: #302d10;
	--color-soft-lemon-950: #181608;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground h-screen w-full;
	}
}

.dropdown-children > * {
	@apply hover:bg-muted cursor-pointer rounded px-2 py-1 duration-300;
}

.scroll::-webkit-scrollbar {
	@apply w-1.5;
}

.scroll::-webkit-scrollbar-track {
	@apply bg-transparent;
}

.scroll::-webkit-scrollbar-thumb {
	@apply bg-foreground/30 rounded;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
