@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
	--card: oklch(100% 0 0);
	--background: oklch(93% 0 0);
	--popover: oklch(86% 0 0);
	--foreground: oklch(35.519% 0.032 262.988);
	--primary: oklch(76.662% 0.135 153.45);
	--primary-foreground: oklch(33.387% 0.04 162.24);
	--secondary: oklch(33.387% 0.04 162.24/0.5);
	--secondary-foreground: oklch(76.662% 0.135 153.45);
	--accent: oklch(0.923 0.003 48.717);
	--accent-foreground: oklch(0% 0 0);
	--muted: oklch(35.519% 0.032 262.988/0.1);
	--muted-foreground: oklch(35.519% 0.032 262.988/0.5);
	--chart-1: oklch(72.06% 0.191 231.6);
	--chart-3: oklch(64.8% 0.15 160);
	--chart-4: oklch(71.76% 0.221 22.18);
	--chart-2: oklch(84.71% 0.199 83.87);
	--chart-5: oklch(35.519% 0.032 262.988/0.3);
	--destructive: oklch(71.76% 0.221 22.18);
	--destructive-foreground: oklch(0% 0 0);
	--radius: 0.5rem;
	--card-foreground: oklch(35.519% 0.032 262.988);
	--popover-foreground: oklch(35.519% 0.032 262.988);
	--border: oklch(35.519% 0.032 262.988/0.1);
	--input: oklch(35.519% 0.032 262.988/0.3);
	--ring: oklch(76.662% 0.135 153.45/0.5);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--radius: var(--radius);
	--border: var(--border);
	--color-sidebar-ring: var(--ring);
	--color-sidebar-border: var(--border);
	--color-sidebar-accent-foreground: var(--accent-foreground);
	--color-sidebar-accent: var(--accent);
	--color-sidebar-primary-foreground: var(--primary-foreground);
	--color-sidebar-primary: var(--primary);
	--color-sidebar-foreground: var(--card-foreground);
	--color-sidebar: var(--card);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-border: var(--border);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground h-screen w-full;
	}
}

.dropdown-children > * {
	@apply hover:bg-muted cursor-pointer rounded px-2 py-1 duration-300;
}

.scroll::-webkit-scrollbar {
	@apply w-1.5;
}

.scroll::-webkit-scrollbar-track {
	@apply bg-transparent;
}

.scroll::-webkit-scrollbar-thumb {
	@apply bg-foreground/30 rounded;
}

.dark {
	--sidebar: hsl(240 5.9% 10%);
	--sidebar-foreground: hsl(240 4.8% 95.9%);
	--sidebar-primary: hsl(224.3 76.3% 48%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsl(240 3.7% 15.9%);
	--sidebar-accent-foreground: hsl(240 4.8% 95.9%);
	--sidebar-border: hsl(240 3.7% 15.9%);
	--sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
